@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Limelight&display=swap');

body{
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 800;
  font-style: normal;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
}
img{
    height: 100vh;
}
.form{
    background-color: rgb(241, 240, 240);
}
.quote{
   padding: 5rem; 
   padding-top: 7rem;
   padding-bottom: 3rem;
   font-size: 24px;
}
.mid{
    background-color: white;
    box-shadow: 12px 5px 5px rgb(170, 169, 169);
}
