@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Limelight&display=swap');

body{
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 800;
  font-style: normal;
}


body {
    display: flex;
    flex-direction: row;
    margin: 0;
}
img{
    height: 100vh;
}
.form{
    background-color: rgb(244, 244, 244);
 
}
.quote{
    padding: 2rem;
   padding-top: 7rem;
   padding-bottom: 1rem;
   font-size: 24px;
}
.mid {
    background-color: white;
    box-shadow: 12px 5px 5px rgb(213, 211, 211);
    padding: 2rem;
}
.mid form{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-right: 150px;
}

.field {
    display: flex;
    flex-direction: column;     
    width: 300px;
    margin-right: 100px  ;
}
input{
    padding: 6px 0rem;
    margin: 6px 0px;
}
